/* Указываем box sizing */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
/* @media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
} */

.header,
.cv-info, .footer {
  max-width: 1600px;
  margin: 0 auto;
}

/* HEADER start */

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 150px;
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url(./assets/images/header_footer_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.share-btn {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 30px;
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 30px;
  background-color: white;
  border-radius: 12px;
}

.share-btn__icon {
  width: 20px;
  height: 20px;
  background-image: url(./assets/icons/share_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.share-btn__info {
  font-size: 12px;
}

.share-btn:hover {
  border: solid 1px #067cfc;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px #067cfc;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__item {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05cm;
}

.nav__item a:hover {
  color: #067cfc;
}

@media screen and (max-width: 1300px) {
  .header {
    padding-right: 60px;
  }

  .nav__item {
    text-align: center;
  }
}

/* HEADER end */

/* MAIN start */
.cv-info {
  display: flex;
}

.cv-info__contac-inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 280px;
  background: linear-gradient(
    180deg,
    rgba(1, 154, 182, 1) 35%,
    rgba(0, 212, 255, 0.3982843137254902) 100%
  );
}

.cv-info__photo {
  width: 120px;
  height: 120px;
  background-image: url(./assets/images/main.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

.cv-info__name {
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.05cm;
}

.cv-info__position {
  margin-bottom: 20px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: white;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.cv-info__main-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px;
}

.about,
.knowledge,
.code-example {
  margin-bottom: 40px;
}

.about__title {
  margin-bottom: 20px;
}

.knowledge {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.knowledge__item {
  flex: 0 1 100%;
  padding: 10px 30px 5px;
  /* border: solid 1px #067cfc; */
  border-radius: 20px;
  box-shadow: 0px 0px 12px 1px rgba(6, 124, 252, 0.2);
}

.knowledge__item:hover {
  box-shadow: 0px 0px 12px 7px rgba(6, 124, 252, 0.2);
}

.skills__title {
  margin-bottom: 15px;
}

.education__title {
  margin-bottom: 15px;
}

.courses__title {
  margin-bottom: 15px;
}

.languages__title {
  margin-bottom: 15px;
}

.list-item_decorated {
  list-style: url(./assets/icons/icons8-done.svg);
  margin-left: 22px;
  margin-bottom: 10px;
}

.project__list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.projects__item {
  flex: 0 1 100%;
  max-width: 350px;
  padding-bottom: 15px;
  /* padding: 10px 30px 5px; */
  /* border: solid 1px #067cfc; */
  border-radius: 20px;
  box-shadow: 0px 0px 12px 1px rgba(6, 124, 252, 0.2);
}

.projects__item:hover {
  box-shadow: 0px 0px 12px 7px rgba(6, 124, 252, 0.2);
}

.projects__title {
  margin-bottom: 15px;
}

.projects__img {
  margin-bottom: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.projects__subtitle {
  text-align: center;
}

/* MAIN end */

/* FOOTER start */

.footer {
  padding: 20px 100px 20px 280px;
  background: linear-gradient(
    270deg,
    rgba(117, 218, 238, 1) 0%,
    rgba(0, 212, 255, 0.4150910364145658) 99%
  );
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__year {
  font-size: 24px;
}

@media screen and (max-width: 1300px) {
  .cv-info__main-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
  }
}


@media screen and (max-width: 1200px) {
  .knowledge {
    flex-wrap: wrap;
  }

  .list-item_decorated {
    text-align: center;
  }
}
